<!--footer-->
<footer class="mayara-silva_area">
  <!-- Top Footer Area Start -->
  <div class="foo_top_header_one section_padding_100_70">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-12">
          <div class="mayara-silva">
            <h4>Sobre Mim</h4>
            <div class="mayara-img">
              <img
                width="300px"
                style="border-radius: 50%"
                src="../../../assets/mayara-holding-lashes-equip.jpg"
              />
            </div>
            <div class="mayara-description">
              <p>
                Olá, sou Mayara Silva, uma apaixonada pelo mundo da beleza,
                especialista em design de cílios e empreendedora há mais de
                quatro anos. Como fundadora do renomado "Studio Mayara Silva" e
                da pioneira "Mayara Lash Store" em Bacabal, Maranhão, tenho a
                honra de liderar e oferecer cursos e serviços de excelência.
              </p>
              <p>
                Ao longo da minha jornada, já ultrapassamos a marca de 3 mil
                atendimentos, e cada experiência moldou minha missão: capacitar
                e inspirar mulheres a empreenderem e brilharem no universo da
                beleza. Acredito profundamente no potencial transformador que o
                empreendedorismo na área da beleza oferece.
              </p>
              <p>
                Meu objetivo vai além de embelezar; é também capacitar e elevar
                outras empresárias da beleza a se tornarem autoridades em seus
                segmentos. Estou comprometida em fornecer as ferramentas e o
                conhecimento necessários para que essas mulheres alcancem o
                sucesso que merecem, aumentando suas receitas em até 10 vezes.
              </p>
              <p>
                Junte-se a mim nessa jornada de empoderamento, onde a paixão
                pela beleza se combina com o poder do empreendedorismo, criando
                um impacto positivo em nossas vidas e na comunidade ao nosso
                redor.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Bottom Area Start -->
  <div class="mayara-silva_bottom_header_one section_padding_50 text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>
            © Desenvolvido por
            <a href="https://www.instagram.com/laragabb_/"
              >Lara Souza </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
