<div>
  <div class="welcome-banner">
    <div class="welcome-text">
      <p class="welcome-text-hello">
        Olá! <span class="welcome-text-hello">Sou</span>
      </p>
      <p class="">
        <span class="welcome-text-name">Mayara Silva</span>
      </p>
      <p class="welcome-text-info">
        <strong>Referência</strong> em cílios que duram
        <strong>30 dias</strong> ou mais, com mais de
        <strong>3 mil</strong> atendimentos realizados!
      </p>
      <div class="redes-sociais">
        <a href="https://www.instagram.com/mayarasilvastudio/" target="_blank"
          ><img
            src="../../../assets/instagram.png"
            width="25px"
            height="25px"
            alt="Instagram Mayara"
          />
        </a>
        <a
          href="https://api.whatsapp.com/send/?phone=5599982284345&text=Ol%C3%A1%2C+seja+bem+vinda%21+%EF%BF%BD&type=phone_number&app_absent=0"
          target="_blank"
          ><img
            src="../../../assets/whatsapp (1).png"
            width="25px"
            height="25px"
            alt="Whatsapp Mayara"
          />
        </a>
      </div>
    </div>
    <div class="img-div-mayara">
      <img
        class="img-mayara"
        src="../../../assets/399637727_18165257518289956_4202128329660717427_n-removebg-preview.png"
        alt="Imagem de Mayara de jaleco, sorrindo"
      />
    </div>
  </div>
</div>
