<div>
  <div class="welcome-banner">
    <div class="welcome-text">
      <p class="welcome-text-hello">Olá!</p>
      <p class="welcome-text-name">
        <span class="welcome-text-hello">Sou</span>
        Mayara Silva
      </p>
      <p class="welcome-text-info">
        <strong>Referência</strong> em cílios que duram
        <strong>30 dias</strong> ou mais, com mais de
        <strong>3 mil</strong> atendimentos realizados!
      </p>
    </div>
    <div class="img-div-mayara">
      <img
        class="img-mayara"
        src="../../../assets/399637727_18165257518289956_4202128329660717427_n-removebg-preview.png"
        alt=""
      />
    </div>
  </div>
</div>
