
.welcome-text{ 
    max-width:60%;
    position: relative;
        top: 50%;
        left: 5%;
}


.welcome-banner{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50%;
}

.welcome-text-hello {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.img-mayara{
    width: 200px;
    left: 50%;
    top: 18%;
    background-image: url('../../../assets/Vector.png');
    background-size: cover;
}

@media (max-width:480px)  {
    .welcome-banner{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFE4F1;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
    }
    .welcome-text-hello{
        font-size: 25px;
    }
    .welcome-text-name{
        font-size: 50px;
        line-height: 1.2em;
        color: mediumvioletred;
        font-variant: petite-caps;
        font-weight: 800;
        font-family: 'Noto Serif Display', serif;
    }
    .welcome-text {
        max-width: 80%;
        position: relative;
        top: 10%;
        left: 5%;
    }
    .img-div-mayara{
        display: flex;
            flex-direction: row;
            justify-content:space-between;
    }
    
    .redes-sociais{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 30%;
        align-items: center;
    }

    .img-mayara{
        width: 200px;

  }
    .image-container{
        position: relative;
        right: 3%;
        bottom: 0;
    }
    .welcome-text-info{
        font-size: 14px;
        text-align: justify;
    }
}