<div class="welcome-banner">
  <div class="welcome-text">
    <p class="welcome-text-hello">Olá!</p>
    <p class="welcome-text-name">
      <span class="welcome-text-hello">Sou</span>
      Mayara Silva
    </p>
    <p class="welcome-text-info">
      Referência em cílios que duram 30 dias ou mais, com mais de 3 mil
      atendimentos realizados!
    </p>
  </div>
  <div class="image-container">
    <img
      class="img-mayara"
      src="../../../assets/399637727_18165257518289956_4202128329660717427_n-removebg-preview.png"
      alt=""
    />
  </div>
</div>
