<div class="main-class-services">
  <h1>Serviços</h1>
  <h3 class="mini-description">
    Oferecemos serviços especializados em extensão de cílios para realçar a
    beleza natural dos olhos.
  </h3>
  <div class="services-offered">
    <div class="serv">
      <div class="img-container">
        <img src="../../../assets/cilios-serv.jpg" class="image-serv" alt="" />
      </div>
      <div class="service-name">
        <span>Extensão de Cílios</span>
      </div>
    </div>
    <div class="serv">
      <div>
        <img src="../../../assets/cursos-serv.jpg" class="image-serv" alt="" />
      </div>
      <div class="service-name">
        <span>Cursos</span>
      </div>
    </div>
    <div class="serv">
      <div>
        <img
          src="../../../assets/produtos-serv.jpg"
          class="image-serv"
          alt=""
        />
      </div>
      <div class="service-name">
        <span>Materiais para extensão</span>
      </div>
    </div>
  </div>
</div>
