.main-class-services{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.serv{
    background-color: #efccde;
    padding-top: 20px;
    color: #fae6f0;
}

.service-name-top{
font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: justify;
    display: flex;
    justify-content: center;
}

@media (max-width:480px) {
.image-serv{
    width: 100px;
    border-radius: 50%;
}
.mini-description{
    margin: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
}
.service-name{
    margin-top: 20px;
    background-color:rgb(162 95 152);
    border-radius: 20%;
    width: 60%;
    padding: 15px;
    margin-bottom: 20px;
}
.serv{
    width: 96%;
    margin-bottom: 10px;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    }
}
.services-offered{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}
