<div class="main-class-services">
  <h1 class="service-name-top">Serviços</h1>
  <h3 class="mini-description">
    Oferecemos serviços especializados em extensão de cílios para realçar a
    beleza natural dos olhos.
  </h3>
  <div class="services-offered">
    <div class="serv">
      <div class="img-container">
        <img src="../../../assets/cilios-serv.jpg" class="image-serv" alt="" />
      </div>
      <button onclick="window.location.href='#extensao'" class="service-name">
        <span>Extensão de Cílios</span>
      </button>
    </div>
    <div class="serv">
      <div>
        <img src="../../../assets/cursos-serv.jpg" class="image-serv" alt="" />
      </div>
      <
      <button onclick="window.location.href='#cursos'" class="service-name">
        <span>Cursos</span>
      </button>
    </div>
    <div class="serv">
      <div>
        <img
          src="../../../assets/produtos-serv.jpg"
          class="image-serv"
          alt=""
        />
      </div>
      <
      <button onclick="window.location.href='#materiais'" class="service-name">
        <span>Materiais para extensão</span>
      </button>
    </div>
  </div>
</div>
