.type-service {
    font-weight: 700;
    font-family: 'Noto Serif Display', serif;
    display:flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 40px;
}
.cta-section {
    display: flex;
    min-width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: #fae4f078;
}
.cta {
    width: 60%;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
ul {
    list-style-image: url('https://i.imgur.com/YXiZi28.png');
}

div>ul:first-of-type>li {
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.7rem;

}

div>ul>ul {
    color: rgb(187, 3, 141);
}


.items-included {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-family: "Poppins", sans-serif;
    background-color: #fae4f078;
}

@media (max-width:480px) {

img {
    width: 35%;
    background-image: url('../../../assets/Vector.png');
    background-size: cover;
}  

div>ul:first-of-type>li {
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.7rem;
    
}
div>ul>ul {
    color: rgb(187, 3, 141);
}

.type-service{
    font-size: 24px;
}

.items-included{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-family: "Poppins", sans-serif;
    background-color: #fae4f078;}
}