<div>
  <h1 class="type-service">Cursos</h1>
  <div class="cta-section">
    <img
      src="../../../assets/mayara-holding-lashes-equip-removebg-preview.png"
      alt=""
    />
    <div class="cta">
      Descubra os <strong>segredos</strong> para aperfeiçoar suas habilidades em
      extensão de cílios! <strong>Junte-se à nossa próxima sessão</strong> de
      cursos e <strong>domine</strong> as técnicas mais recentes e avançadas.
    </div>
  </div>

  <section class="items-included">
    <h1>O que está incluso no nosso incrível Kit para Cursistas?</h1>
    <div>
      <ul>
        <li>Kit de materiais</li>
        <ul class="mt-2">
          <li>Caixa de cílios Y 0.07 D</li>
          <li>Cola</li>
          <li>Anel para adesivo</li>
          <li>Removedor</li>
          <li>Micropore e Transpore</li>
          <li>Pad em gel</li>
          <li>Microbrush</li>
          <li>Escovinhas</li>
          <li>Aplicadores</li>
          <li>Pinça de aplicação e isolamento</li>
        </ul>
        <li>Certificado com moldura</li>
        <li>Bolsa personalizada <strong style="color: rgb(187, 3, 141)">Studio Mayara Silva</strong> </li>

        <li>Apostila completa para estudo pós curso</li>
        <li>Coffee Break de encerramento</li>
        <li>1 ano de suporte pós curso</li>
      </ul>
    </div>
  </section>
</div>
