.type-service {
    font-weight: 700;
    font-family: 'Noto Serif Display', serif;
    display:flex;
    justify-content: center;
}


@media (max-width:480px) {
.cta-section{
    display: flex;
    min-width: 100%;
    flex-direction: row;  
    align-items: center;
    background-color: #FFE4F1;
}
.cta{
    width: 60%;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

img {
    width: 35%;
    background-image: url('../../../assets/Vector.png');
    background-size: cover;
}  

.items-included{
    margin-top: 20px;
}

   ul {
       list-style-image: url('https://i.stack.imgur.com/5kI3v.png')
   }

.items-included{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: rgb(255, 219, 254);
}

}