

.content-lashes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}
.section-title {
    font-weight: 700;
    font-size: 40px;
}


.description-section {
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    margin-top: 10px;
    line-height: 2rem;
}
.slick-prev:before,
.slick-next:before {
    color: blueviolet;
}
@media (max-width:480px) {
    .content-lashes {
        margin-top: 15px;
    }
    .description-section{
        font-size: 12px;
        margin-top: 2px;
    }

    .section-title{
        font-size: 24px;
    }
}