.content-lashes{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.slick-prev:before,
.slick-next:before {
    color: black !important;
}

@media (max-width:480px) {
    .content-lashes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    .section-title{
        font-weight: 700;
    }

    .description-section{
        font-family: "Poppins", sans-serif;
    }

    .info{
        display: flex;
        flex-direction: column;
    }
    .card-lash{
        background-color: rgb(252, 236, 246);
        margin-top: 20px;
    }
    
    .description-lash-text{
        font-size: 12px;
    }

}